input[type="radio"]:checked + label .select-out-circle{
  border-color: #108a00;
  background-color: #108a00;
}

input[type="radio"]:checked + label .select-inner-circle{
  display:block;
  border-radius: 6px;
  outline: 1px solid white;
  outline-offset: -1px;
}
