<button data-cy="menu-trigger" class="nav-item pr-[10px] cursor-pointer flex items-center" tabindex="3">
  <span class="nav-item-label leading-[22px] pl-[10px] pr-[3px] py-[10px] font-normal font-montreal text-[14px] tracking-[0.03rem]">{{itemData}}</span>
  <span class="up-s-nav-icon flex items-center">
    <div class="flex items-center justify-center w-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" role="img" class="w-6 h-6 stroke-current" style="color: var(--icon-color, #001e00);">
          <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M18 10l-6 5-6-5"></path>
      </svg>
  </div>
  </span>
</button>
